# Build outputs
out/
.vs/

# Visual Studio intermediates
**/Debug/
**/Release/
**/x64/
**/x86/
**/*.user
**/*.suo
**/*.VC.db
**/*.VC.VC.opendb
**/ipch/

# Logs
*.log

# Build artifacts (VS)
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.tlb
*.iobj
*.ipdb
*.res
*.aps

# User-specific files
*.user
*.suo
*.sln.docstates

# Windows image cache
*.db
Thumbs.db
